*.pyc
local_settings.py

*.aux

TechReport/TACLPaperWork/TACL.aux

TechReport/TACLPaperWork/tacl.bbl

TechReport/TACLPaperWork/tacl.blg

TechReport/TACLPaperWork/TACL.log

TechReport/TACLPaperWork/tacl.synctex.gz

TechReport/TACLPaperWork/TechReport.aux

TechReport/TACLPaperWork/TechReport.bbl

TechReport/TACLPaperWork/TechReport.blg

TechReport/TACLPaperWork/TechReport.log

TechReport/TACLPaperWork/TechReport.synctex.gz
