*.pyc
local_settings.py

*.aux

TechReport/TACLPaperWork/TACL.aux

TechReport/TACLPaperWork/tacl.bbl

TechReport/TACLPaperWork/tacl.blg

TechReport/TACLPaperWork/TACL.log

TechReport/TACLPaperWork/tacl.synctex.gz

TechReport/TACLPaperWork/TechReport.aux

TechReport/TACLPaperWork/TechReport.bbl

TechReport/TACLPaperWork/TechReport.blg

TechReport/TACLPaperWork/TechReport.log

TechReport/TACLPaperWork/TechReport.synctex.gz

*.log

Mingkun Gao/vsubmit/naaclhlt2015_new.log

Mingkun Gao/vsubmit/naaclhlt2015_new.synctex.gz

*.aux

vsubmit/naaclhlt2015_new.aux

*.blg

vsubmit/naaclhlt2015_new.blg

vsubmit/naaclhlt2015_new.log

vsubmit/naaclhlt2015_new.synctex.gz
